[submodule "storage/lib/forge-std"]
	path = storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "storage/lib/openzeppelin-contracts"]
	path = storage/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
